.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#code-wrap {
  width: 98%;
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid burlywood;
  overflow: hidden;
}
